<html>
<head>
    <title>Service Hours 2017-2018</title>
<style>
  tab1 { padding-left: 8em; }
</style>
</head>
<body style="background-color: #3498db">

<div>
<h1> Student Organization Partnership Service <img src="https://bit.ly/2IyqNSu"  alt="Volunteer" width="500" height="100" align="middle"> </h1>
</div>
<input type="button" value="View Current Records" onclick="window.location='http://18.233.96.130/view';"> <br>
<form action="/" method="post">
Full name </font><br>
<input type="text" name="firstname" required>
<input type="text" name="lastname" required><br>
First
<tab1> Last </tab1><br>
<br>ID <br>
<input type="text" name="id" required><br>
<br>Email Address<br>
<input type="text" name="email" required><br>
<br>Student Organization Name<br>
<input type="text" name="stuOrg" required><br>
<p>What Class are You Currently In?</p>
<input type="radio" name="class" value="BUS 001"> BUS 001<br>
<input type="radio" name="class" value="BUS 002"> BUS 002<br>
<input type="radio" name="class" value="BUS 003"> BUS 003<br>
<input type="radio" name="class" value="BUS 004"> BUS 004<br>
<p>Organization Name (Benefiting from your service)</p>
<input type="text" name="orgName" required> 
<p>Number of Hours Worked</p>
<input type="text" name="hours" required>
<p>Description of Project</p>
<input type="text" name="desc">
<p>Number of Student Partcipants</p>
<input type="text" name="numStudents" required>
<p>Extra Comments</p>
<input type="text" name="comment"><br><br>
<input type="submit" value="Submit">
</form>

<body>
</html>
